.list-group-item {
  position:relative;
}
.list-group-item:hover{
  background-color:whitesmoke;
  cursor:pointer;
}
.arrow {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  right:10px;
  font-size: 1.5em;
}
